@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

:root {
  --primary-color: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

.header {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  letter-spacing: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  background: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-style: normal;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splitter-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  background: var(--white);
  border-radius: 20px;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px var(--grayish-cyan);
          box-shadow: 0 0 10px var(--grayish-cyan);
}

.input-desc {
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  font-size: 16px;
}

.number-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  color: var(--very-dark-cyan);
}

.number-input:focus {
  outline: 2px solid var(--primary-color);
}

.number-input::-webkit-input-placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.number-input::-moz-placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.number-input:-ms-input-placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.number-input::-ms-input-placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.number-input::placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.input-side {
  width: 50%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.show-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-height: 300px;
  background: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 15px;
  padding: 50px 30px 30px;
}

.show-side__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
}

.show-side__desc_gray {
  display: block;
  font-size: 14px;
  color: var(--grayish-cyan);
  margin: 5px 0 0 0;
}

.show-side__quantity {
  display: block;
  font-size: 32px;
  color: var(--primary-color);
}

.bill {
  width: 100%;
}

.bill__input {
  margin: 10px 0 0 0;
}

.bill__input:enabled {
  background: url("../img/icon-dollar.svg") no-repeat center left 10px, var(--very-light-grayish-cyan);
}

.number-of-people__error {
  display: none;
}

.number-of-people__error_active {
  display: block;
  float: right;
  font-weight: 700;
  font-size: 16px;
  color: hsl(0deg, 100%, 46%);
}

.number-of-people__input {
  margin: 10px 0 0 0;
}

.number-of-people__input:enabled {
  background: url("../img/icon-person.svg") no-repeat center left 10px, var(--very-light-grayish-cyan);
}

.percent-btn {
  display: block;
  background: var(--very-dark-cyan);
  border-radius: 5px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: color 0.2s, background 0.2s;
  -o-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

.percent-btn:hover {
  color: var(--very-dark-cyan);
  background: var(--primary-color);
}

.percent-btn_active {
  background: hsl(173deg, 61%, 77%);
  color: var(--very-dark-cyan);
}

.percent-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.percent-buttons__desc {
  display: block;
}

.percent-buttons__btn {
  width: 30%;
  height: 40px;
  min-width: 90px;
}

.percent-buttons__input {
  width: 30%;
  height: 40px;
  min-width: 90px;
}

.reset-btn {
  width: 100%;
  height: 40px;
  font-size: calc(16px + 0.5555555556vw);
  font-weight: 700;
  border-radius: 5px;
  color: var(--very-dark-cyan);
  background: var(--primary-color);
}

.reset-btn:active {
  background: hsl(173deg, 61%, 77%);
}

.tip-percents {
  width: 100%;
}

.tip-percents__btns {
  margin: 10px 0 0 0;
}

.tip-results {
  width: 100%;
  height: 40%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.percent-custom-input {
  color: var(--very-dark-cyan);
  background: var(--very-light-grayish-cyan);
  text-align: right;
  padding: 10px 6px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.percent-custom-input:focus {
  outline: 2px solid var(--primary-color);
}

.percent-custom-input::-webkit-input-placeholder {
  text-align: center;
}

.percent-custom-input::-moz-placeholder {
  text-align: center;
}

.percent-custom-input:-ms-input-placeholder {
  text-align: center;
}

.percent-custom-input::-ms-input-placeholder {
  text-align: center;
}

.percent-custom-input::placeholder {
  text-align: center;
}

@media all and (max-width: 1200px) {
  .splitter-wrapper {
    width: 80%;
  }
}

@media all and (max-width: 800px) {
  .show-side__quantity {
    font-size: 28px;
  }
}

@media all and (max-width: 700px) {
  .splitter-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .input-side {
    width: 100%;
  }

  .show-side {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .show-side__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .show-side__quantity {
    font-size: 24px;
    margin: 5px 0 0 0;
    text-align: right;
  }

  .number-of-people__error_active {
    margin-bottom: 5px;
  }

  .percent-btn {
    font-size: 20px;
  }

  .percent-custom-input {
    font-size: 20px;
  }
}